<h2>Are there Gummy Worms?</h2>
<p>The time is now: <%= Time.now %></p>

<div id="result">


</div>
<button id="btn">
Send Slack message!
</button>
<br>
<br>

<div class="wrapper">
  <a href="#" class="fancy-button bg-gradient1"><span><i class="fa fa-wheelchair-alt"></i>Gummys!</span></a>
  <a href="#" class="fancy-button pop-onhover bg-gradient3"><span>No Gummys!</span></a>
</div><!-- /.wrapper -->
